@media only screen and (max-width: 688px) {
  .container {
    width: 400px;
  }

  .header-part {
    flex-direction: column;
  }
  .delivery-number i,
  p {
    font-size: 12px;
  }
  .faq-div p {
    font-size: 12px;
  }
  .delivery-number {
    width: 238px;
  }
  .delivery-number,
  .faq-div {
    margin-left: 10px;
  }
  .faq-div {
    width: 179px;
  }

  .main-body {
    flex-direction: column;
  }

  .services {
    text-align: center;
  }
  .logo-toggle {
    width: 320px;
    box-shadow: none;
  }
  .logo {
    justify-content: center;
  }
  .services ul li a div {
    margin: 0 104px 0 48px;
  }

  .nav-bar {
    width: 355px;
    height: 220px;
  }
  .menu-part {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }
  .menu {
    text-align: center;
  }

  .menu ul li a {
    margin-right: 4px;
    align-items: center;
  }

  .searching-part {
    flex-direction: column;
  }
  form.example input {
    width: 180px;
    font-size: 11px;
  }
  form.example button {
    width: 39px;
    top: 677px;
    right: 68px;
  }
  .cart {
    margin-top: 10px;
  }

  .check-out {
    width: 88%;
  }
  .checkout-cart {
    flex-direction: column;
  }
  .delivery-address,
  .delivery-time {
    width: 95%;
  }
  .time-date {
    flex-direction: column;
    align-items: center;
  }
  .date-picker {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .checkout-detail {
    width: 90%;
  }
  .checkout-btn {
    font-size: 12px;
  }

  .my-cart {
    width: 91%;
  }
  .cart-header,
  .offer-code,
  .total-price {
    width: 100%;
  }
  .product {
    width: 95%;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 660px;
  }

  .main-body {
    flex-direction: column;
  }

  .nav-bar {
    width: 600px;
  }
  .menu-part {
    justify-content: center;
  }
  .searching-part {
    justify-content: center;
  }
  .search-field {
    margin-right: 8px;
  }
  .cart {
    margin-left: 62px;
    margin-right: 12px;
  }
  form.example input {
    width: 365px;
  }
  form.example button {
    top: 633px;
    right: 305px;
  }
  .offer-code {
    width: 256px;
  }
}
